<a href="https://colab.research.google.com/github/SachinKrishan/flight_prediction/blob/master/flight_dataExplore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import json
from pandas.io.json import json_normalize  
from google.colab import drive
drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [0]:
with open('gdrive/My Drive/Colab Notebooks/weather/ATL/2016-1.json', 'r') as f:
          d = json.load(f)


nycphil = json_normalize(d['data']['weather'],  'hourly', 'date')
nycphil.tail(5)

    windspeedKmph FeelsLikeF winddir16Point  ... humidity  time        date
739            13         60            SSE  ...       82  1900  2016-01-31
740            13         59            SSE  ...       82  2000  2016-01-31
741            12         59            SSE  ...       83  2100  2016-01-31
742            13         58            SSE  ...       83  2200  2016-01-31
743            14         57            SSE  ...       84  2300  2016-01-31

[5 rows x 26 columns]

In [0]:

nycphil['airport'] = 'ATL'
nycphil = nycphil.drop(['weatherIconUrl','FeelsLikeF','winddir16Point','FeelsLikeC','windspeedMiles','DewPointF','HeatIndexF','HeatIndexC','weatherIconUrl','WindGustMiles','weatherDesc','weatherCode','tempF','WindChillF'],axis=1)

In [0]:
type(nycphil["time"][0])
nycphil['itime'] = nycphil.time.astype('int64')
nycphil.dtypes

windspeedKmph    object
DewPointC        object
cloudcover       object
precipMM         object
pressure         object
WindGustKmph     object
visibility       object
tempC            object
WindChillC       object
winddirDegree    object
humidity         object
time             object
date             object
airport          object
itime             int64
dtype: object

In [0]:
type(int('200'))

int

In [0]:
p = nycphil.iloc[20:30].values
p

array([['17', '1', '100', '0.0', '1025', '26', '10', '6', '3', '317',
        '71', '2000', '2016-01-01', 'ATL', 2000],
       ['16', '1', '100', '0.0', '1026', '26', '10', '6', '2', '316',
        '71', '2100', '2016-01-01', 'ATL', 2100],
       ['16', '1', '95', '0.0', '1026', '25', '10', '5', '2', '317',
        '72', '2200', '2016-01-01', 'ATL', 2200],
       ['16', '1', '91', '0.0', '1026', '24', '10', '5', '2', '318',
        '74', '2300', '2016-01-01', 'ATL', 2300],
       ['15', '1', '86', '0.0', '1026', '23', '10', '5', '1', '319',
        '76', '0', '2016-01-02', 'ATL', 0],
       ['16', '1', '81', '0.0', '1026', '23', '10', '4', '1', '320',
        '78', '100', '2016-01-02', 'ATL', 100],
       ['16', '1', '76', '0.0', '1026', '23', '10', '4', '0', '321',
        '80', '200', '2016-01-02', 'ATL', 200],
       ['16', '0', '71', '0.0', '1026', '23', '10', '3', '-1', '322',
        '83', '300', '2016-01-02', 'ATL', 300],
       ['16', '0', '79', '0.0', '1026', '23', '10', '3', '-1', '319',
        '83', '400', '2016-01-02', 'ATL', 400],
       ['16', '0', '88', '0.0', '1026', '23', '10', '2', '-2', '316',
        '84', '500', '2016-01-02', 'ATL', 500]], dtype=object)

In [0]:
df = pd.read_csv('gdrive/My Drive/Colab Notebooks/flight/2016/On_Time_On_Time_Performance_2016_1/On_Time_On_Time_Performance_2016_1.csv')
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (77) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Year  Quarter  Month  ...  Div5WheelsOff  Div5TailNum Unnamed: 109
0  2016        1      1  ...            NaN          NaN          NaN
1  2016        1      1  ...            NaN          NaN          NaN
2  2016        1      1  ...            NaN          NaN          NaN
3  2016        1      1  ...            NaN          NaN          NaN
4  2016        1      1  ...            NaN          NaN          NaN

[5 rows x 110 columns]

In [0]:
import datetime
def roundtime(time):
  if((time%100)<30):
    return time - (time%100)
  else:
    return time + (100 - (time%100))

def arrivaldate(atime,dtime,date):
  if(atime<dtime):
    date += datetime.timedelta(days=1)
    sdate = date.strftime('%Y-%m-%d')
    return sdate
  else:
    return date.strftime('%Y-%m-%d')

s = arrivaldate(df['CRSArrTime'][0],df['CRSDepTime'][0],datetime.datetime.strptime(df['FlightDate'][0], '%Y-%m-%d'))
print(s)

2016-01-06

In [0]:
df.drop(df.columns.difference(['FlightDate','Quarter','Year','Month','DayofMonth','DepTime','DepDel15','CRSDepTime','DepDelayMinutes','Origin','Dest','ArrTime','CRSArrTime','ArrDel15','ArrDelayMinutes']), 1, inplace=True)
print(df.tail())


df['round_Dtime'] = df.apply(lambda x: roundtime(x['CRSDepTime']),axis=1)
df['round_Atime'] = df.apply(lambda x: roundtime(x['CRSArrTime']),axis=1)
df['A_date'] = df.apply(lambda x: arrivaldate(x['CRSArrTime'],x['CRSDepTime'],datetime.datetime.strptime(x['FlightDate'], '%Y-%m-%d')),axis=1)
df

        Year  Quarter  Month  ...  ArrTime ArrDelayMinutes ArrDel15
445822  2016        1      1  ...   1404.0             0.0      0.0
445823  2016        1      1  ...   2241.0            42.0      1.0
445824  2016        1      1  ...   1301.0            11.0      0.0
445825  2016        1      1  ...   1429.0             3.0      0.0
445826  2016        1      1  ...   2000.0             0.0      0.0

[5 rows x 15 columns]

        Year  Quarter  Month  ...  round_Dtime round_Atime      A_date
0       2016        1      1  ...         1100        1500  2016-01-06
1       2016        1      1  ...         1100        1500  2016-01-07
2       2016        1      1  ...         1100        1500  2016-01-08
3       2016        1      1  ...         1100        1500  2016-01-09
4       2016        1      1  ...         1100        1500  2016-01-10
...      ...      ...    ...  ...          ...         ...         ...
445822  2016        1      1  ...         1300        1400  2016-01-03
445823  2016        1      1  ...         1700        2200  2016-01-03
445824  2016        1      1  ...         1000        1300  2016-01-03
445825  2016        1      1  ...         1400        1400  2016-01-03
445826  2016        1      1  ...         1900        2000  2016-01-03

[445827 rows x 18 columns]

In [0]:
df.dtypes

type(df["FlightDate"][0])

str

In [0]:
merged = pd.merge(nycphil, df,left_on = ['airport','itime','date'], right_on = ['Origin','round_Dtime','FlightDate'],how='right')
merged.loc[merged['Origin'] == 'ATL']

       windspeedKmph DewPointC cloudcover  ... round_Dtime round_Atime      A_date
0                 18         3        100  ...         600         700  2016-01-01
1                 18         3        100  ...         600         700  2016-01-01
2                 18         3        100  ...         600         800  2016-01-01
3                 18         3        100  ...         700         900  2016-01-01
4                 18         3        100  ...         700         900  2016-01-01
...              ...       ...        ...  ...         ...         ...         ...
342280           NaN       NaN        NaN  ...        2400         200  2016-01-05
342281           NaN       NaN        NaN  ...        2400         100  2016-01-05
428888           NaN       NaN        NaN  ...        2400         100  2016-01-02
428952           NaN       NaN        NaN  ...        2400         100  2016-01-03
429189           NaN       NaN        NaN  ...        2400         100  2016-01-04

[29870 rows x 33 columns]

In [0]:
merged = pd.merge(nycphil, merged,left_on = ['airport','itime','date'], right_on = ['Dest','round_Atime','FlightDate'],how='right',suffixes=('_A','_D'))
merged.loc[merged['Dest'] == 'ATL']

      windspeedKmph_A DewPointC_A  ... round_Atime      A_date
0                  11           8  ...           0  2016-01-02
1                  11           8  ...           0  2016-01-02
2                  11           8  ...           0  2016-01-02
3                  11           8  ...           0  2016-01-02
4                  13           7  ...         100  2016-01-02
...               ...         ...  ...         ...         ...
29849             NaN         NaN  ...        2400  2016-01-31
29850             NaN         NaN  ...        2400  2016-01-31
29851             NaN         NaN  ...        2400  2016-01-31
29852             NaN         NaN  ...        2400  2016-01-31
29853             NaN         NaN  ...        2400  2016-01-31

[29854 rows x 78 columns]